*
!*.tf
!*.xml
!*.java
!*.mk
!**/*/
!.gitignore
!.myfuncs
!*.html
!*.md
!*.txt
!*.h
!*.c
!*.sh
!*.py
!*.yaml
!*.yml
!*.conf
!*.jpeg
!dockerfile
!Dockerfile
!Jenkinsfile*
.venv
**/.terraform
api_key.txt
gitleaks/
.pre-commit-config.yaml
secret.yaml
secrets.yaml
